{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Senha Alterada &mdash; Diagnóstico IA</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'app/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'app/modules/fontawesome/css/all.min.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/components.css' %}">
        <!-- Favicon  -->
    <link rel="icon" type="image/x-icon" href="{% static 'geral/marca/favicon.ico' %}">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XHP3E6T518"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XHP3E6T518');
</script>
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <h2 class="text-primary">Diagnóstico IA</h2>
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>Senha Redefinida</h4></div>

              <div class="card-body">
                <div class="alert alert-success">
                    Sua senha foi redefinida com sucesso!
                </div>
                <p class="text-muted">
                    Agora você pode fazer login com sua nova senha.
                </p>
                <div class="form-group">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block">
                        Fazer Login
                    </a>
                </div>
              </div>
            </div>
            <div class="simple-footer">
              Copyright &copy; Nexara Dados 2026
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="{% static 'app/modules/jquery.min.js' %}"></script>
  <script src="{% static 'app/modules/popper.js' %}"></script>
  <script src="{% static 'app/modules/tooltip.js' %}"></script>
  <script src="{% static 'app/modules/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'app/modules/moment.min.js' %}"></script>
  <script src="{% static 'app/js/stisla.js' %}"></script>
  
  <!-- Template JS File -->
  <script src="{% static 'app/js/scripts.js' %}"></script>
  <script src="{% static 'app/js/custom.js' %}"></script>
</body>
</html>
