    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col first">
                        <h4>Sobre Nós</h4>
                        <p class="p-small">Plataforma de captura de leads B2B. Encontre empresas por setor, segmento e local com dados completos: telefone, email, site, redes sociais, avaliações Google e reputação.</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Links Importantes</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><a class="white" href="{% url 'termos_condicoes' %}">Termos & Condições</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><a class="white" href="{% url 'politica_privacidade' %}">Política de Privacidade</a></div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Contato</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="media-body">Brasil (digital/remoto)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-envelope"></i>
                                <div class="media-body"><a class="white" href="mailto:contato@nexaradados.com.br">contato@nexaradados.com.br</a></div>
                            </li>
                            <li class="media">
                                <i class="fab fa-whatsapp"></i>
                                <div class="media-body">+55 48 99992-2992</div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->