    <div id="garantia" class="basic-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="guarantee-box">
                        <div class="guarantee-icon">
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <div class="guarantee-text">
                            <h3>Garantia de Qualidade</h3>
                            <p>Se os dados não forem úteis para sua prospecção, devolvemos seu dinheiro.</p>
                            <div class="guarantee-footer">Simples. Sem burocracia.</div>
                        </div>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-5 -->
    <!-- end of garantia -->