{% load static %}
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1>Decida com segurança antes de investir em tecnologia e IA</h1>
                            <p class="p-large">Clareza prática sobre onde sua empresa está e quais próximos passos realmente valem a pena.</p>
                            <a class="btn-solid-lg page-scroll" href="#pricing">Começar diagnóstico agora</a>
                            <p class="micro-copy">Sem contratos • Sem reuniões • Resultado em minutos</p>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <!-- <img class="img-fluid" src="{% static 'site/images/header-software-app.png' %}" alt="alternative"> -->
                                <img class="img-fluid" src="{% static 'geral/marca/logo.png' %}" alt="alternative">
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->