    <div id="problema" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">DORES COMUNS</div>
                    <h2 class="h2-heading">Você passa horas buscando empresas para prospectar?</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="problem-container">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media problem-item">
                                <i class="fas fa-times"></i>
                                <div class="media-body">Listas genéricas com telefones errados e emails desatualizados</div>
                            </li>
                            <li class="media problem-item">
                                <i class="fas fa-times"></i>
                                <div class="media-body">Pesquisa manual no Google e redes levando dias para poucos leads</div>
                            </li>
                            <li class="media problem-item">
                                <i class="fas fa-times"></i>
                                <div class="media-body">Bases de dados caras com dados incompletos ou duplicados</div>
                            </li>
                            <li class="media problem-item">
                                <i class="fas fa-times"></i>
                                <div class="media-body">Dificuldade para filtrar por setor, segmento e localização exata</div>
                            </li>
                        </ul>
                        <div class="problem-closure">
                            <p>O problema não é a falta de empresas. <strong>É encontrar as certas, com dados corretos.</strong></p>
                        </div>
                    </div> <!-- end of problem-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of problema -->